
.containerg{
  margin: 0;
  padding: 0;
  display: grid;
  width: 100%;
  grid-template-rows: 100px;  /* 行 */
  grid-template-columns: 300px 1fr 300px;   /* 列 */
}
.leftg{
  background-color: cadetblue;
}
.rightg{
  background-color: chartreuse;
}
.centerg{
  background-color: chocolate;
}